<div class="container">
  <h1>Cadastro</h1>
  <form (ngSubmit)="validateAndSubmit()">
    <div class="form-group">
      <label for="name">Name</label>

      <input
        type="text"
        data-test="name-input"
        name="name"
        [(ngModel)]="name"
      />

      <div *ngIf="isNameValid === false" data-test="name-validation-meesasge">
        <small class="validation-message">
          Nome deve ter no mínimo 3 caracteres
        </small>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
